.cspell-base.json
.cspell.json
.gitattributes
.github
.gitignore
.prettierignore
.prettierrc.js
.vscode
*.test.d.ts
*.test.js
scripts
src
test-repos
tsconfig-base.json
tsconfig.json
.prettierrc.json
files
prettierignore
dist/sanitizer
repo-paths*
*.sh
.git*
dist/readme*
dist/package-version*
dist/bash*